---

import CV from '../assets/docs/CV_AFAR.pdf'

interface Props {
    link?: string;
}

const { link = "https://drive.google.com/file/d/1kSCxsg1vsX4N1LBYzaTcKoDBu0v5WmjL/view?usp=sharing" } = Astro.props;

---
<nav class="fixed top-0 w-full bg-white/80 dark:bg-gray-900/80 backdrop-blur-sm z-50 py-4">
    <div class="container mx-auto px-4 flex justify-between items-center">
        <a href="#" class="text-xl font-bold dark:text-white">Andres Alfonso</a>
        <div class="flex items-center gap-6">
            <a href="#about" class="hover:text-gray-600 dark:text-gray-300 dark:hover:text-white">Sobre mí</a>
            <a href="#projects" class="hover:text-gray-600 dark:text-gray-300 dark:hover:text-white">Proyectos</a>
            <a href="#experience" class="hover:text-gray-600 dark:text-gray-300 dark:hover:text-white">Experiencia</a>
            <a href="#education" class="hover:text-gray-600 dark:text-gray-300 dark:hover:text-white">Educación</a>
            <a href="#contact" class="hover:text-gray-600 dark:text-gray-300 dark:hover:text-white">Contacto</a>
            <a href={link} target="_blank" class="bg-black dark:bg-white text-white dark:text-black px-4 py-2 rounded-md hover:bg-gray-800 dark:hover:bg-gray-100 transition-colors">
                Descargar CV
            </a>
        </div>
    </div>
</nav>