---
import ThemeToggle from '../components/ThemeToggle.astro';
import MeIcon from '../images/AF-icon-qIFePnN9.png';

interface Props {
    title?: string;
}

const { title = "Andres Alfonso - Portfolio" } = Astro.props;
---

<!doctype html>
<html class="dark" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="/src/images/AF-icon-qIFePnN9.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-white dark:bg-gray-900 text-gray-900 dark:text-white transition-colors">
		<slot />
		<ThemeToggle />
	</body>
</html>

<style is:global>
    html {
        scroll-behavior: smooth;
    }
</style>
